<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AEAS" connectionString="Data Source=.;Initial Catalog=AEAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AeasOnline.Properties.Settings.AEAS" connectionString="Data Source=.;Initial Catalog=AEAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
    <pages styleSheetTheme="Tema1"/>
  </system.web>

</configuration>
